<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="" class="exampleInput">Từ khóa</label>
            <input type="text" name="q" class="form-control" placeholder="Nhập từ khóa">
            <label for="" class="exampleInput mt-4">City</label>
            <select name="city" id="" class="form-control"> 
                <option value="Options">Lựa chọn thành phố</option>
                <option value="HNU">Hà Nội</option>
                <option value="HCM">Hồ Chí Minh</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>